.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}

.search {
  width: 300px;
}

.label {
  text-align: start;
  display: inline-block;
}

.select {
  border: 0px solid transparent;
}

.input {
  width: 100%;
}
