.name {
  width: 400px;
  text-align: start;
}

.icon {
  margin-right: 8px;
}

.buttons {
  margin-left: auto;
}

.button {
  background-color: transparent;
  line-height: 0;
  border: 0px solid transparent;
  color: black;
}

.modal {
  width: 300px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
