:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(219, 213, 213);
}

#root {
  padding: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: rgb(104, 100, 100);
  padding: 4px 8px;
  color: lightgrey;
  border-radius: 4px;
  transition: opacity 250ms ease;
}

button:hover {
  opacity: 0.7;
}

a {
  transition: opacity 250ms ease;
}

a:hover {
  opacity: 0.7;
}
